.hero {
  height: 270px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  background-color: var(--color-black); 
  padding: 0 20px; 
  
}

.hero img {
  max-width: 100%; /* Ensure image does not exceed container width */
  height: auto; /* Maintain aspect ratio of the image */
  display: block; /* Remove bottom space (if any) */
}

.image {
  justify-content: center;
  justify-items: center;

}